.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    flex-direction: row;
}
.middle-part {
    display: flex;
    border-style: hidden;
    border-width: 5px;
    border-color: red;
    flex-direction: row;
    background-color:#a6d7d9;
    align-items:center;
}


.nav_bar {
    display: flex;
    border-style: hidden;
    border-width: 10px;
    flex-direction: row;
    background-color:#17252A;
    justify-content: space-between;
}

.top-descriptions {
    display: flex;
    border-style: hidden;
    border-width: 10px;
    flex-direction: row;
    background-color:#17252A;
    justify-content: center;
    align-content: center;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
    flex-direction: row;
    background-color:#a6d7d9;
}

.flex-item {
    border-style: hidden;
    border-width: 2px;
}

.flex-item1 {
    border-style: hidden;
    border-width: 2px;
    align-content: center;
    justify-content: center;
}

.flex-item11 {
    border-style: hidden;
    text-align: center;
}

.border-less {
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    align-content: center;
}

.bullet-points {
    font-size: 20px;
}

.footnotes {
    display: flex;
    border-style: hidden;
    border-width: 10px;
    flex-direction: row;
    background-color:#17252A;
}

.logo-format {
    width:80px;
    height:80px;
    border: 5px solid transparent;
}